.jukebox {
    -fx-alignment: top-right;
}

.jukebox-content {
    -fx-alignment: top-right;
}

.jukebox-content .current-song-box {
    -fx-alignment: center-right;
}

.jukebox-content .media-controls {
    -fx-alignment: center-right;
}

.media-controls {
    -fx-alignment: center-right;
    -fx-padding: 0 20 0 0;
}

.media-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.stack-pane {
    -fx-alignment: top-right;
}