.root {
    -fx-background-image: url('online_background_422fab3bf0c3af0234ee21be511bc3a9.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.main-layout {
    -fx-background-color: rgba(0, 0, 0, 0.25);
}