.playlist-item {
    -fx-background-color: transparent;
    -fx-padding: 12 6 12 6;
    -fx-alignment: center-left;
}

.playlist-item:hover {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.playlist-item.selected {
    -fx-background-color: rgba(121, 171, 255, 0.6);
}