.playlist-item {
    -fx-background-color: transparent;
    -fx-padding: 0 6 0 6;
    -fx-alignment: center-left;
}

.playlist-item:hover {
    -fx-background-color: rgba(121, 171, 255, 0.6);
}

.playlist-item.selected {
    -fx-background-color: rgba(121, 171, 255, 0.6);
}

.song-text {
    -fx-font-family: "Aller Light";
    -fx-font-size: 30px;
    -fx-text-fill: white;
}