.playlist-modal {
    -fx-background-color: rgba(0, 0, 0, 0.90);
    -fx-padding: 36 0 0 16;
}

.playlist-modal-content {
    -fx-background-color: transparent;
}

.playlist-title {
    -fx-font-family: "Aller Bold";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-padding: 20;
}

.search-label {
    -fx-font-family: "Aller";
    -fx-font-size: 16px;
    -fx-text-fill: #888888;
    -fx-padding: 10;
}