.playlist-modal {
    -fx-background-color: rgba(0, 0, 0, 0.90);
    -fx-padding: 66 0 0 16;
}

.playlist-modal-content {
    -fx-background-color: transparent;
}

.search-label {
    -fx-font-family: "Aller Light";
    -fx-font-size: 36px;
    -fx-text-fill: white;
    -fx-padding: 10;
}