.top-bar {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-spacing: 4px;
    -fx-padding: 0;
    -fx-alignment: center-left;
}

.username {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.beatmap-count, .runtime-label, .current-time {
    -fx-font-family: 'Aller';
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-effect: dropshadow(one-pass-box, black, 1, 0, 1, 1),
                dropshadow(one-pass-box, black, 1, 0, -1, 1),
                dropshadow(one-pass-box, black, 1, 0, 1, -1),
                dropshadow(one-pass-box, black, 1, 0, -1, -1);
}

.stats-text {
    -fx-font-size: 12px;
    -fx-text-fill: #dddddd;
}

.playing-label {
    -fx-font-size: 14px;
    -fx-text-fill: #aaaaaa;
    -fx-padding: 0 10 0 5;
}

.song-name {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 0 0 0 100;
}

.controls-bar {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 10px;
    -fx-alignment: center-right;
}

.media-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
}

.media-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}