.top-bar {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-spacing: 4px;
    -fx-padding: 0;
    -fx-alignment: center-left;
}

.username {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.beatmap-count, .runtime-label, .current-time {
    -fx-font-family: 'Aller';
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-effect: dropshadow(one-pass-box, black, 1, 0, 1, 1),
                dropshadow(one-pass-box, black, 1, 0, -1, 1),
                dropshadow(one-pass-box, black, 1, 0, 1, -1),
                dropshadow(one-pass-box, black, 1, 0, -1, -1);
}

.stats-text {
    -fx-font-size: 12px;
    -fx-text-fill: #dddddd;
}