.visualizer {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.logo-container {
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, white, 15, 0.2, 0, 0);
}

.logo-container ImageView {
    -fx-viewport-size: 450 450;
    -fx-z-index: 10;
}