.channel-card {
    -fx-background-color: #000000;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 2.5;
}

.channel-card-joined {
    -fx-border-color: #EC768Cff;
}

.channel-card-joined .channel-name {
    -fx-text-fill: #EC768Cff;
}

.channel-card-not-joined {
    -fx-border-color: #2399BBff;
}

.channel-card-not-joined .channel-name {
    -fx-text-fill: #2399BBff;
}

.channel-name {
    -fx-font-family: 'Aller';
    -fx-font-size: 20px;
}

.description-container {
    -fx-spacing: 4;
}

.channel-description {
    -fx-text-fill: white;
    -fx-font-family: 'Aller';
    -fx-font-size: 20px;
}

.channel-card:hover {
    -fx-background-color:#000000, rgba(35, 153, 187, 0.2);
}
.channel-card-joined:hover {
    -fx-background-color:#000000, rgba(209, 94, 116, 0.2);
}