.online-users-panel {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 0 8px 0 8px;
}

.online-users-title, .online-users-label {
    -fx-text-fill: white;
    -fx-font-family: 'Aller Light';
}

.online-users-title {
    -fx-font-size: 56px;
}

.online-users-label {
    -fx-font-size: 28px;
}

.search-label {
    -fx-text-fill: white;
    -fx-font-family: 'Aller Light';
    -fx-font-size: 24px;
}

.search-field {
    -fx-font-family: 'Aller';
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-min-width: 250px;
    -fx-font-size: 18px;
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-border-width: 3px;
    -fx-padding: 2px 6px;
}

.search-field:focused {
    -fx-border-color: white;
}

.user-cards-container {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.user-cards-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-padding: 0;
    -fx-smooth: true;
}

.user-cards-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.user-cards-scroll-pane .scroll-bar:vertical {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 0;
    -fx-pref-width: 10;
    -fx-unit-increment: 50;
    -fx-block-increment: 250;
}

.user-cards-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

.user-cards-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0;
}

.user-cards-scroll-pane .scroll-bar:vertical .increment-button,
.user-cards-scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
}

.user-cards-scroll-pane .scroll-bar:vertical .increment-arrow,
.user-cards-scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #ffffff;
    -fx-shape: " ";
    -fx-padding: 0;
}

.user-cards-scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}