.online-users-panel {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 0 8px 0 8px;
}

.online-users-title, .online-users-label {
    -fx-text-fill: white;
    -fx-font-family: 'Aller Light';
}

.online-users-title {
    -fx-font-size: 56px;
}

.online-users-label {
    -fx-font-size: 28px;
}

.search-label {
    -fx-text-fill: white;
    -fx-font-family: 'Aller Light';
    -fx-font-size: 24px;
}

.search-field {
    -fx-font-family: 'Aller';
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-min-width: 250px;
    -fx-font-size: 18px;
    -fx-border-color: rgba(255, 255, 255, 0.8);
    -fx-border-width: 3px;
    -fx-padding: 2px 6px;
}

.search-field:focused {
    -fx-border-color: white;
}

.user-cards-container {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.user-cards-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.user-cards-scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.user-cards-scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

.user-cards-scroll-pane .content {
    -fx-background-color: transparent;
}

.user-cards-scroll-pane .corner {
    -fx-background-color: transparent;
}