.button {
    -fx-background-color: #D7153D;
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-family: "Aller Bold";
    -fx-padding: 0;
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;
    -fx-border-color: rgba(0, 0, 0, 0.9);
    -fx-background-insets: 0;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-pref-height: 30px;
    -fx-min-width: 220px;
    -fx-max-width: 220px;
    -fx-pref-width: 220px;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.button.selected {
    -fx-background-color: white;
    -fx-text-fill: #333333;
}