.match-slot-card {
    -fx-background-color: transparent;
}

.separator {
    -fx-min-width: 12px;
    -fx-max-width: 12px;
    -fx-pref-width: 12px;
}

.separator.no-map {
    -fx-background-color: #FD4203;
}

.separator.not-ready {
    -fx-background-color: white;
}

.separator.ready {
    -fx-background-color: #9AC93C;
}

.separator.playing {
    -fx-background-color: #ADD8E7;
}

.info-box {
    -fx-padding: 4px 60px 8px 10px;
    -fx-alignment: center;
}

.info-box.no-map {
    -fx-background-color: rgba(253, 66, 3, 0.2);
}

.info-box.not-ready {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.info-box.ready {
    -fx-background-color: rgba(154, 201, 60, 0.2);
}

.info-box.playing {
    -fx-background-color: rgba(173, 216, 231, 0.2);
}

.username-label, .rank-label {
    -fx-text-fill: white;
    -fx-font-family: "Aller Light";
}

.username-label {
    -fx-font-size: 30px;
}

.rank-label {
    -fx-font-size: 28px;
}

.username-label {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.5), 1, 0, 1, 1),
    dropshadow(one-pass-box, rgba(0, 0, 0, 0.5), 1, 0, -1, 1),
    dropshadow(one-pass-box, rgba(0, 0, 0, 0.5), 1, 0, 1, -1),
    dropshadow(one-pass-box, rgba(0, 0, 0, 0.5), 1, 0, -1, -1);
}

.player-tooltip {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Aller";
    -fx-background-radius: 2;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 2;
    -fx-padding: 1px 2px;
}