.score-item {
    -fx-font-family: 'Aller Light';
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-background-radius: 0;
    -fx-padding: 4 8 4 6;
    -fx-alignment: center-left;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.0, 0, 2);
}

.score-profile-picture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 3, 0.0, 0, 1);
}

.score-info-container {
    -fx-spacing: 2px;
    -fx-alignment: center-left;
}

.score-username {
    -fx-text-fill: #FFFFFF;
}

.score-username-exited {
    -fx-text-fill: #FF0000;
}

.score-value {
    -fx-text-fill: rgb(255, 255, 255);
}

.score-combo {
    -fx-text-fill: #FFFFFF;
}