.result-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.right-stats {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-alignment: center;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}