.beatmap-card {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}

.no-map-card {
    -fx-background-color: rgba(255, 99, 2, 0.8);
}

.changing-map-card {
    -fx-background-color: #A9A9A9;
}

.pink-overlay {
    -fx-background-color: rgba(226, 72, 147, 0.80);
}

.orange-overlay {
    -fx-background-color: rgba(247, 161, 1, 0.80);
}

.changing-map-title, .changing-map-description {
    -fx-text-fill: white;
}

.changing-map-title, .no-map-title, .beatmap-name-label {
    -fx-font-family: "Aller Light";
    -fx-text-fill: white;
}

.beatmap-info {
    -fx-font-family: "Aller Light";
    -fx-text-fill: white;
}

.beatmap-version {
    -fx-font-family: "Aller";
    -fx-text-fill: white;
}

.changing-map-description, .no-map-description {
    -fx-font-family: "Aller";
    -fx-text-fill: white;
}

.gamemode-box {
    -fx-padding: 12 0 0 0;
}