.label {
    -fx-text-fill: white;
}

.upload-status-label {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-font-family: "Aller";
}

.search-area {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 0px;
    -fx-padding: 12px 16px;
    -fx-margin: 0 0 10px 0;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

.search-area:hover {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-border-color: rgba(255, 255, 255, 0.2);
}

.search-label {
    -fx-text-fill: #B7E468;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-font-family: "Aller";
}
.search-content-label {
    -fx-text-fill: white;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-font-family: "Aller";
}

.search-found-label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: normal;
    -fx-font-family: "Aller Light";
}

.score-combo-box {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-text-fill: white;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-size: 22px;
    -fx-pref-width: 200px;
    -fx-popup-offset: 0 16;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.score-combo-box .text-field {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.score-combo-box .arrow-button {
    -fx-background-color: transparent;
}

.score-combo-box .text {
    -fx-font-family: "Aller";
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.score-combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.score-combo-box .arrow {
    -fx-background-color: white;
}

.score-combo-box .list-view {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 1;
}

.score-combo-box .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Aller Light";
    -fx-font-size: 14px;
    -fx-padding: 2 0 2 16;
}

.score-combo-box .list-view .list-cell:hover {
    -fx-background-color: #BC0E75;
}

.score-combo-box .list-view .viewport {
    -fx-background-color: transparent;
}

.score-combo-box .list-view .scroll-pane {
    -fx-background-color: transparent;
}

.score-combo-box .list-view .scroll-pane .viewport {
    -fx-background-color: transparent;
}