.drop-box {
    -fx-border-color: #ff66aa;
    -fx-font-family: 'Aller Light';
    -fx-border-width: 2;
    -fx-border-style: dashed;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-padding: 30;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.drop-box:hover {
    -fx-background-color: rgba(0, 0, 0, 0.85);
}

.drop-box .label {
    -fx-text-fill: #ff66aa;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}