.match-player-card {
    -fx-max-width: 60px;
    -fx-min-width: 60px;
    -fx-pref-width: 60px;
    -fx-max-height: 60px;
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
    -fx-padding: 0;
    -fx-alignment: center;
}

.match-player-card.host {
    -fx-max-width: 102px;
    -fx-min-width: 102px;
    -fx-pref-width: 102px;
    -fx-max-height: 102px;
    -fx-min-height: 102px;
    -fx-pref-height: 102px;
    -fx-padding: 0;
    -fx-alignment: center;
}

.locked {
    -fx-background-color: rgba(231, 66, 7, 0.4);
    -fx-border-color: rgba(231, 66, 7, 0.8);
    -fx-border-width: 2px;
}

.unlocked {
    -fx-background-color: rgba(139, 195, 43, 0.2);
    -fx-border-color: rgba(139, 195, 43, 0.4);
    -fx-border-width: 2px;
}

.player-tooltip {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Aller";
    -fx-background-radius: 2;
    -fx-border-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 2;
    -fx-padding: 1px 2px;
}